.fundo-opcoes, .fundo-opcao-escolhida{
    background: #374151;
    border-radius: 50px;

}
.fundo-opcao-escolhida{
    background: #1F2937;
    border-radius: 50px;
}
.logo-tipo-inicio{
    width: 50px;
    height: 50px;
}
.login-dados{
    display: block;
    font-size: 16px;
    color: #374151;
}
.titulo{
    font-size: 24px;
}
.login-input{
    background:transparent;
    border: none;
    border-bottom: 0.1px solid #374151;
    color: #ffffff;
    font-size: 16px;
    
}
.bnt-entrar{
    box-sizing: border-box;
    height: 56px;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
    border: 2px solid #454CED;
    border-radius: 8px;
}
.texto-{
    font-size: 14px;
    font-weight: 400;
}
.divisoria{
    border: 1px solid #374151;
    height: 0px;
}
.icons-acesso{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 2px solid #374151;
    border-radius: 8px;
}
.icons-tamanho{
    width: 30px;
    height: 30px;
}